
<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment value="all"  [(ngModel)]="tablaSelect">
    <ion-segment-button value="expLaboral">
      <ion-label>Experiencia Laboral</ion-label>
    </ion-segment-button>
    <ion-segment-button value="certificados">
      <ion-label>Certificaciones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="misDatos">
      <ion-label>MisDatos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="tablaSelect === 'expLaboral'">
    <h3>Experiencia Laboral</h3>
    <br>
    <ion-item>
      <ion-label position="floating">Empresa</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Año Inicio</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>¿Trabaja actualmente en la empresa?</ion-label>
      <ion-select>
        <ion-select-option value="si">Sí</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Cargo</ion-label>
      <ion-input ></ion-input>
    </ion-item>
  </div>
  <div *ngIf="tablaSelect === 'certificados'">
    <h3>Certificados</h3>
    <br>
    <ion-item>
      <ion-label position="floating">Nombre certificado</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Fecha otorgado</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>¿El certificado vecio?</ion-label>
      <ion-select>
        <ion-select-option value="si">Sí</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Fecha de vencimiento</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div *ngIf="tablaSelect === 'misDatos'">
    <h3>Mis Datos</h3>

  </div>
</ion-content>


<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->
